
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* navbar */
.navbar-custom {
    background-color: #FCF8F8;
}
.navbar {
    box-shadow: 0 4px 2px -3px gray;
}

.navbar .navbar-brand {
    padding: 10px;
}

.navbar .nav-item {
    padding-right: 15px;
}

.navbar-brand.login{
    font-size: small;
    background-color: #FBB503;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    color: white;
}
/* 
.nav-item .activ{
    font-weight: 500;
  } */