

.date-my {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBB503;
    border: 1px solid black;
}

.date-my h2 {
    font-size: 5vh;
    padding: 15px;
    text-align: center;
    margin-top: 1%;
}

body i {
    padding: 30px;
}

.myBook-container {
    margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.custom-border {
    border-top: 30px solid #FBB503;
    border-radius: 2%;
}

.custom-div-a {
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 3%;
}
.custom-a {
    display: flex;
    justify-content: center;
    background-color: #FBB503;
    margin: 2%;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.input-group-append {
    cursor: pointer;
  }