/* calendar */
main table.calendar	{ 
    border-left:1px solid #999; 
}

/* main  tr.calendar-row{  
    
} */
main td.calendar-day { 
    min-height:80px; 
    font-size:18px; 
    position:relative; 
} 

main td.calendar-day:hover	{ 
    background:#eceff5; 
}
main td.calendar-day-np	{ 
    background:#eee; 
    min-height:80px; } 

* html div.calendar-day-np { 
    height:80px; 
}

main td.calendar-day-head { 
    background: #FCDF9D; 
    font-weight: 500; 
    text-align: center; 
    width: 120px; 
    padding: 15px; 
    border-bottom: 1px solid #999; 
    border-top: 1px solid #999; 
    border-right: 1px solid #999; 
}
main div.day-number	{ 
    /* background:#999;  */
    padding: 5px; 
    color: black; 
    font-weight: 500; 
    float:left; 
    margin: -30px 0 0 5px; 
    width: 20px; 
    text-align: center; 
}
/* shared */
main td.calendar-day, td.calendar-day-np { 
    width: 120px; 
    padding: 5px; 
    border-bottom: 1px solid #999; 
    border-right: 1px solid #999; 
    height: 80px;
}

.date-my {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBB503;
    border: 1px solid black;
}

.date-my h2 {
    padding: 15px;
}

body i {
    padding: 30px;
}